@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*
-----------------------------------------
CSP STYLE 
-----------------------------------------
*/

.aae-csp {

/*
-------------------------------------
COLOR PLATES
-------------------------------------

*/
  --white : #ffffff;
  --off-white : #E1E4EA;
  --deep-navy : #181B25;
  --cool-gray : #525866;
  --steel-gray : #717784;
  --vibrant-mint : #4ADE80;
  --theme-bg : #FC6848;

  font-family: "Inter", sans-serif;
  padding: 58px 47px;
  @media (max-width:991px){
    padding: 15px 0;
    padding-inline-end: 10px;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
  }
  p{
    font-size: 14px;
    line-height: 1.5;
    color: var(--deep-navy);
  }
  a{
    color: var(--deep-navy);
  }
  .priority-value {
    text-align: center;
    font-weight: 600;
    color: var(--theme-bg);
    border: 1px solid var(--off-white);
    padding: 5px 15px;
    &:focus{
      border-color: var(--vibrant-mint);
      outline: 0;
      box-shadow: none;
    }
  }
  .CodeMirror-gutter-wrapper{
    left: -38px !important;
  }
  .select2-selection{
    border-color: var(--off-white);
    &:focus{
      border-color: var(--vibrant-mint) !important;
    }
  }
.select2-container--default .select2-selection--multiple.select2-selection--clearable {
    padding-right: 25px;
    max-height: 170px;
    overflow-y: scroll;
    padding-bottom: 10px;
}
}

.aae-csp-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 15px;
  &__start{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__backward-btn{
    border: 1px solid var(--steel-gray);
    height: 46px;
    width: 46px;
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    svg{
      position: relative;
      z-index: 2;
    }
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(0);
      height: 100%;
      width: 100%;
      background-color: var(--theme-bg);
      transition: 0.3s ease;
      border-radius: 75px;
    }
    &:hover{
      border-color: transparent;
      svg{
        path{
          fill: var(--white);
        }
      }
      &::before{
        transform: scale(1);
      }
    }
  }
  &__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: var(--deep-navy);
    margin-bottom: 4px;
  }
  &__text{
    font-weight: 400;
  }
  &__end{
    display: flex;
    gap: 6px;
  }
  &__tools-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--white);
    border: 1px solid var(--off-white);
    box-shadow: 0 1px 4px rgba(10, 13, 20, 0.03);
    border-radius: 10px;
    text-decoration: none;
    gap: 5px;
    cursor: pointer;
    &:hover{
      color: rgba(252, 104, 72, 1);
      background-color: rgba(254, 225, 218, 1);
      border-color: rgba(252, 104, 72, 0.2);
      svg{
        path{
          stroke: var(--theme-bg);
        }
      }
    }
  }
}
.aae-csp-main{
  display: grid;
  grid-template-columns: 436px 1fr;
  gap: 24px;
  @media (max-width:1200px){
    grid-template-columns: 1fr;
  }
  select{
    width: 100%;
    border: 1px solid var(--off-white);
    height: 43px;
    margin-bottom: 3px;
    border-radius: 8px;
    &:focus{
      border: 1px solid var(--vibrant-mint);
      outline: 0;
      box-shadow: none;
    }
  }
  .aae-csp-aside{
    &__label{
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;
      color: var(--deep-navy);
      display: block;
      margin-bottom: 10px;
    }
    &__input{
        border: 1px solid var(--off-white);
        height: 43px;
        margin-bottom: 3px;
        &:focus{
          border: 1px solid var(--vibrant-mint);
          outline: 0;
          box-shadow: none;
        }
    }
    &__help-text{
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: var(--cool-gray);
      margin-top: 14px;
      display: block;
    }
}

}
.aae-csp-widget{
  background-color: var(--white);
  padding: 24px;
  border-radius: 8px;
  &:not(:last-child){
    margin-bottom: 20px;
  }
}
.aae-csp-active{
  &__status{
    display: inline-block;
    padding: 6px 21px;
    background: rgba(74, 222, 128, 0.1);
    border-radius: 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    color: var(--vibrant-mint);
    text-transform: capitalize;
    margin-bottom: 8px;
    &.inactive{
      background-color: rgba(254, 225, 218, 1);
      color: rgba(252, 104, 72, 1);
      span{
        &::before{
          background-color: rgba(252, 104, 72, 1);
        }
      }
    }
    span{
      position: relative;
        &::before{
        position: absolute;
        content: "";
        left: -8px;
        top: 50%;
        transform: translateY(-50%);
        height: 4px;
        width: 4px;
        background-color: var(--vibrant-mint);
        border-radius: 75px;
      }
    }
  }
  &__label{
    font-weight: 500;
  }
  &__input-wrapper{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
  }
  &__title-group{
    display: flex;
    flex-direction: column;
  }
}
.aae-csp-visibility{
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__visibility-pages{
    margin-top: 10px;
  }
}
.aae-csp-editor{
  background-color: var(--white);
  padding: 24px;
  border-radius: 8px;
  &__field-group{
    margin-bottom: 24px;
  }
  select{
    width: 161px;
  }
  .code-editor-wrapper{
    height: 528px;
    width: 100%;
    border: 1px solid #E2E8F0;
    background: #F8FAFC50;
    @media (max-width:1200px){
      height: 300px;
    }
    &:focus{
      border-color: var(--vibrant-mint);
      box-shadow: none;
      outline-width: 0;
    }
  }
  .CodeMirror{
    &.fullscreen {
      margin-top: 32px;
    }
    @media (max-width:1200px){
      height: 300px;
    }
  }
  &__mode{
    display: inline-flex;
    gap: 8px;
    margin-inline-end: 10px;
  }
  &-top{
    &__text{
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 500;
    color: var(--deep-navy);
    flex-wrap: wrap;
      span{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        color: var(--cool-gray);
      }
    }
  }
  &__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 15px;
  }
  &__wordcount{
    display: flex;
    gap: 5px;
    li{
      font-size: 12px;
      color: var(--cool-gray);
    }
  }
  &__insertBtn{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: var(--steel-gray);
    background: #F5F7FA;
    border-radius: 8px;
    padding: 9px 21px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
    border: 1px solid transparent;
    &:hover{
      color: rgba(252, 104, 72, 1);
      background-color: rgba(254, 225, 218, 1);
      border-color: rgba(252, 104, 72, 0.2);
      svg{
        path{
          stroke: rgba(252, 104, 72, 1);
        }
      }
    }
  }
}
.aae-csp-editor-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  flex-wrap: wrap;
  gap: 15px;
  &__end{
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
.aae-csp-priority-slider-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}
// Priority slider
.priority-slider {
  width: 100%;
  -webkit-appearance: none;
  height: 4px;
  border-radius: 3px;
  outline: none;
  margin-top: 10px;
  background-color: #F1F5F9;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--theme-bg);
    cursor: pointer;
    box-shadow: none
  }
}
.notification {
    right: 3.5%!important;
    background-color: #4ade80!important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    padding: 10px 15px !important;
    font-size: 12px !important;
}
.animation-addon_page_wcf-code-snippet{
    .is-dismissible {
        width: 14.5%;
        margin-top: 10px;
        border-color: #E1E4EA;
        border-left-color: rgba(74, 222, 128, 1);
        padding: 6px 15px;
        position: absolute !important;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: unset !important;
    }
}
.wcf-admin-page-content{
  .is-dismissible{
    transform: unset !important;
  }
}

/*
----------------------------------
CHECK BUTTON STYLE
----------------------------------
*/
.checkbox-wrapper-6 .tgl {
    display: none;
}
.checkbox-wrapper-6 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 36px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after,
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
  display: none;
}
.checkbox-wrapper-6 .tgl:checked + .tgl-btn:after {
  left: 50%;
}
.checkbox-wrapper-6 .tgl-light + .tgl-btn {
  background: rgba(254, 225, 218, 1);
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}
.checkbox-wrapper-6 .tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: var(--white);
  transition: all 0.2s ease;
}
.checkbox-wrapper-6 .tgl-light:checked + .tgl-btn {
  background: var(--vibrant-mint);
}

#php-version-notice {
  color: var(--theme-bg);
  font-weight: 600;
  font-style: italic;
  text-transform: lowercase;
  strong {
    color: var(--vibrant-mint);
  }
}

 .wcf-code-loading {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0,0,0,0.3);
   z-index: 2;
   cursor: pointer;
 }

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 6px solid #ddd;
  border-top: 6px solid #f6502c;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  background: unset;
  visibility: visible;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}