.wcf-anim2024-wrapper * {
  all: revert-layer;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.wcf-select-content * {
  all: revert-layer;
  box-sizing: border-box;
}

.wcf-dialog-content * {
  all: revert-layer;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.wcf-animation-addon-sheet * {
  all: revert-layer;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-00: 0 0% 100%;
    --gray-50: 216 33% 97%;
    --gray-100: 210 30% 96%;
    --gray-200: 220 18% 90%;
    --gray-300: 219 15% 82%;
    --gray-400: 220 11% 64%;
    --gray-500: 221 8% 48%;
    --gray-600: 222 11% 36%;
    --gray-700: 221 16% 20%;
    --gray-800: 227 17% 16%;
    --gray-900: 226 21% 12%;
    --gray-950: 222 32% 8%;

    /* brand  */
    --brand-500: 11 97% 64%;
    --brand-600: 11 92% 57%;
  }
}

.wcf-anim2024-style * {
  @apply font-inter font-normal leading-[1.2] border-0 border-solid border-border;
}

.wcf-animation-addon-sheet * {
  @apply font-inter font-normal leading-[1.2] border-0 border-solid border-border;
}

.wcf-dialog-content * {
  @apply font-inter font-normal leading-[1.2] border-0 border-solid border-border;
}

.wcf-anim2024-style {
  @apply overflow-x-hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-text font-inter overflow-x-hidden;
  }

  a {
    @apply no-underline text-text;
  }

  a:focus {
    @apply shadow-none outline-0;
  }

  p {
    @apply text-sm;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.wcf-animation-addon-sheet {
  @apply overflow-x-hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-text font-inter overflow-x-hidden;
  }

  a {
    @apply no-underline text-text;
  }

  a:focus {
    @apply shadow-none outline-0;
  }

  p {
    @apply text-sm text-text-secondary;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.wcf-anim2024-style {

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e1e4ea;
    border-radius: 10px;
  }

  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 50000000s ease-in-out 0s !important;
  }
}

.search-item {
  @apply relative flex gap-2 cursor-pointer select-none items-center rounded-sm px-2.5 py-2.5 text-text text-sm outline-none hover:bg-background-secondary hover:text-text hover:rounded-[10px] data-[selected=true]:bg-background-secondary data-[selected=true]:text-text data-[selected=true]:rounded-[10px];
}

.wcf-anim2024 {
  #wpbody-content {
    @apply !pb-2.5;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("../public/fonts/icomoon.eot?em1mj9");
  src:
    url("../public/fonts/icomoon.eot?em1mj9#iefix") format("embedded-opentype"),
    url("../public/fonts/icomoon.ttf?em1mj9") format("truetype"),
    url("../public/fonts/icomoon.woff?em1mj9") format("woff");

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wcf-icon-"],
[class*=" wcf-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wcf-icon-Team:before {
  content: "\e943";
}

.wcf-icon-Image-Gallery:before {
  content: "\e900";
}

.wcf-icon-Advance-Accordion:before {
  content: "\e901";
}

.wcf-icon-Advance-Pricing-Table:before {
  content: "\e902";
}

.wcf-icon-Builder-Work-Process:before {
  content: "\e903";
}

.wcf-icon-Line:before {
  content: "\e904";
}

.wcf-icon-Lottie:before {
  content: "\e905";
}

.wcf-icon-Post-Tags:before {
  content: "\e906";
}

.wcf-icon-Filterable-Slider:before {
  content: "\e907";
}

.wcf-icon-Flip-Box:before {
  content: "\e908";
}

.wcf-icon-Banner-Breadcrumb:before {
  content: "\e909";
}

.wcf-icon-Breadcrumbs:before {
  content: "\e90a";
}

.wcf-icon-Toggle-Switch:before {
  content: "\e90b";
}

.wcf-icon-Video-Box:before {
  content: "\e90c";
}

.wcf-icon-Video-Popup:before {
  content: "\e90d";
}

.wcf-icon-Search-No-Result:before {
  content: "\e90e";
}

.wcf-icon-Search-Form:before {
  content: "\e90f";
}

.wcf-icon-Post-Meta-Info:before {
  content: "\e910";
}

.wcf-icon-Nav-Menu:before {
  content: "\e911";
}

.wcf-icon-Floating-Elements:before {
  content: "\e912";
}

.wcf-icon-Event-Slider:before {
  content: "\e913";
}

.wcf-icon-Services-Tabs:before {
  content: "\e914";
}

.wcf-icon-Testimonial-3:before {
  content: "\e915";
}

.wcf-icon-Animated-Title:before {
  content: "\e916";
}

.wcf-icon-Image-Box-Slider:before {
  content: "\e917";
}

.wcf-icon-Filterable-Gallery:before {
  content: "\e918";
}

.wcf-icon-Advance-Slider:before {
  content: "\e919";
}

.wcf-icon-Contact-Form-7:before {
  content: "\e91a";
}

.wcf-icon-Footer-Nav:before {
  content: "\e91b";
}

.wcf-icon-Builder-Hero-Accordion:before {
  content: "\e91c";
}

.wcf-icon-Builder-Image-Accordion:before {
  content: "\e91d";
}

.wcf-icon-Image-Accordion:before {
  content: "\e91e";
}

.wcf-icon-Builder-Posts:before {
  content: "\e91f";
}

.wcf-icon-Builder-Accordion:before {
  content: "\e920";
}

.wcf-icon-Builder-Project-Accordion:before {
  content: "\e921";
}

.wcf-icon-Builder-Service-Accordion:before {
  content: "\e922";
}

.wcf-icon-Builder-Tabs:before {
  content: "\e923";
}

.wcf-icon-Builder-Testimonial:before {
  content: "\e924";
}

.wcf-icon-Builder-Button:before {
  content: "\e925";
}

.wcf-icon-Side-Header:before {
  content: "\e926";
}

.wcf-icon-Animated-Offcanvas:before {
  content: "\e927";
}

.wcf-icon-Cart-Count:before {
  content: "\e928";
}

.wcf-icon-Dropdown-or-Language:before {
  content: "\e929";
}

.wcf-icon-Author-Box:before {
  content: "\e92a";
}

.wcf-icon-Table-of-Contents:before {
  content: "\e92b";
}

.wcf-icon-Scroll-Elements:before {
  content: "\e92c";
}

.wcf-icon-Video-Mask:before {
  content: "\e92d";
}

.wcf-icon-Video-Box-Slider:before {
  content: "\e92e";
}

.wcf-icon-Mailchimp:before {
  content: "\e92f";
}

.wcf-icon-Search-Query:before {
  content: "\e930";
}

.wcf-icon-Advanced-Portfolio:before {
  content: "\e931";
}

.wcf-icon-Portfolio:before {
  content: "\e932";
}

.wcf-icon-Archive-Title:before {
  content: "\e933";
}

.wcf-icon-Posts:before {
  content: "\e934";
}

.wcf-icon-Post-Social-Share:before {
  content: "\e935";
}

.wcf-icon-Post-Paginate:before {
  content: "\e936";
}

.wcf-icon-Post-Comment:before {
  content: "\e937";
}

.wcf-icon-Post-Content:before {
  content: "\e938";
}

.wcf-icon-Post-Excerpt:before {
  content: "\e939";
}

.wcf-icon-Post-Feature-Image:before {
  content: "\e93a";
}

.wcf-icon-Post-Title:before {
  content: "\e93b";
}

.wcf-icon-Site-Logo:before {
  content: "\e93c";
}

.wcf-icon-Animated-Heading:before {
  content: "\e93d";
}

.wcf-icon-Countdown:before {
  content: "\e93e";
}

.wcf-icon-Content-Slider:before {
  content: "\e93f";
}

.wcf-icon-Tabs:before {
  content: "\e940";
}

.wcf-icon-Timeline:before {
  content: "\e941";
}

.wcf-icon-One-Page-Nav:before {
  content: "\e942";
}

.wcf-icon-Progressbar:before {
  content: "\e944";
}

.wcf-icon-Image-Compare:before {
  content: "\e945";
}

.wcf-icon-Button:before {
  content: "\e946";
}

.wcf-icon-Testimonial-2:before {
  content: "\e947";
}

.wcf-icon-Testimonial:before {
  content: "\e948";
}

.wcf-icon-Icon-Box:before {
  content: "\e949";
}

.wcf-icon-Counter:before {
  content: "\e94a";
}

.wcf-icon-Brand-Slider:before {
  content: "\e94b";
}

.wcf-icon-Text-Hover-Image:before {
  content: "\e94c";
}

.wcf-icon-Image:before {
  content: "\e94d";
}

.wcf-icon-Social-Icons:before {
  content: "\e94e";
}

.wcf-icon-Animated-Text:before {
  content: "\e94f";
}

.wcf-icon-Typewriter:before {
  content: "\e950";
}

.wcf-icon-Image-Box:before {
  content: "\e951";
}
