.wcf-anim2024-wrapper * {
  all: revert-layer;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.wcf-select-content * {
  all: revert-layer;
  box-sizing: border-box;
}

.wcf-dialog-content * {
  all: revert-layer;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.wcf-animation-addon-sheet * {
  all: revert-layer;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-00: 0 0% 100%;
    --gray-50: 216 33% 97%;
    --gray-100: 210 30% 96%;
    --gray-200: 220 18% 90%;
    --gray-300: 219 15% 82%;
    --gray-400: 220 11% 64%;
    --gray-500: 221 8% 48%;
    --gray-600: 222 11% 36%;
    --gray-700: 221 16% 20%;
    --gray-800: 227 17% 16%;
    --gray-900: 226 21% 12%;
    --gray-950: 222 32% 8%;

    /* brand  */
    --brand-500: 11 97% 64%;
    --brand-600: 11 92% 57%;
  }
}

.wcf-anim2024-style * {
  @apply font-inter font-normal leading-[1.2] border-0 border-solid border-border;
}

.wcf-animation-addon-sheet * {
  @apply font-inter font-normal leading-[1.2] border-0 border-solid border-border;
}

.wcf-dialog-content * {
  @apply font-inter font-normal leading-[1.2] border-0 border-solid border-border;
}

.wcf-anim2024-style {
  @apply overflow-x-hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-text font-inter overflow-x-hidden;
  }

  a {
    @apply no-underline text-text;
  }

  a:focus {
    @apply shadow-none outline-0;
  }

  p {
    @apply text-sm;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.wcf-animation-addon-sheet {
  @apply overflow-x-hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-text font-inter overflow-x-hidden;
  }

  a {
    @apply no-underline text-text;
  }

  a:focus {
    @apply shadow-none outline-0;
  }

  p {
    @apply text-sm text-text-secondary;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.wcf-anim2024-style {

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e1e4ea;
    border-radius: 10px;
  }

  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 50000000s ease-in-out 0s !important;
  }
}

.search-item {
  @apply relative flex gap-2 cursor-pointer select-none items-center rounded-sm px-2.5 py-2.5 text-text text-sm outline-none hover:bg-background-secondary hover:text-text hover:rounded-[10px] data-[selected=true]:bg-background-secondary data-[selected=true]:text-text data-[selected=true]:rounded-[10px];
}

.wcf-anim2024 {
  #wpbody-content {
    @apply !pb-2.5;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url('../public/fonts/icomoon.eot?uunc8k');
  src: url('../public/fonts/icomoon.eot?uunc8k#iefix') format('embedded-opentype'),
    url('../public/fonts/icomoon.ttf?uunc8k') format('truetype'),
    url('../public/fonts/icomoon.woff?uunc8k') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wcf-icon-"],
[class*=" wcf-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-stroke: 0.5px;
}

.wcf-icon-Advanced-Accordion:before {
  content: "\e900";

}
.wcf-icon-Advanced-Portfolio:before {
  content: "\e901";

}
.wcf-icon-Advanced-Pricing-Table:before {
  content: "\e902";

}
.wcf-icon-Advanced-Slider:before {
  content: "\e903";

}
.wcf-icon-Advanced-Tooltip:before {
  content: "\e904";

}
.wcf-icon-Animated-Heading:before {
  content: "\e905";

}
.wcf-icon-Animated-Off-Canvas:before {
  content: "\e906";

}
.wcf-icon-Animated-Text:before {
  content: "\e907";

}
.wcf-icon-Animated-Title:before {
  content: "\e908";

}
.wcf-icon-Animation-Builder:before {
  content: "\e909";

}
.wcf-icon-Animation:before {
  content: "\e90a";

}
.wcf-icon-Archive-Title:before {
  content: "\e90b";

}
.wcf-icon-Author-Box:before {
  content: "\e90c";

}
.wcf-icon-Banner-Posts:before {
  content: "\e90d";

}
.wcf-icon-Brand-Slider:before {
  content: "\e90e";

}
.wcf-icon-Breadcrumbs:before {
  content: "\e90f";

}
.wcf-icon-Button-Pro:before {
  content: "\e910";

}
.wcf-icon-Button:before {
  content: "\e911";

}
.wcf-icon-Category-Showcase:before {
  content: "\e912";

}
.wcf-icon-Contact-Form-7:before {
  content: "\e913";

}
.wcf-icon-Content-Protection:before {
  content: "\e914";

}
.wcf-icon-Content-Slider:before {
  content: "\e915";

}
.wcf-icon-Countdown:before {
  content: "\e916";

}
.wcf-icon-Counter:before {
  content: "\e917";

}
.wcf-icon-Current-Date:before {
  content: "\e918";

}
.wcf-icon-Cursor-Hover-Effect:before {
  content: "\e919";

}
.wcf-icon-Cursor-Move-Effect:before {
  content: "\e91a";

}
.wcf-icon-Custom-CSS:before {
  content: "\e91b";

}
.wcf-icon-Custom-Fonts:before {
  content: "\e91c";

}
.wcf-icon-Custom-Icons:before {
  content: "\e91d";

}
.wcf-icon-Custom-Post-Type:before {
  content: "\e91e";

}
.wcf-icon-Dynamic-Tags:before {
  content: "\e91f";

}
.wcf-icon-Event-Slider:before {
  content: "\e920";

}
.wcf-icon-Featured-Posts:before {
  content: "\e921";

}
.wcf-icon-Filterable-Gallery:before {
  content: "\e922";

}
.wcf-icon-Filterable-Posts:before {
  content: "\e923";

}
.wcf-icon-Filterable-Slider:before {
  content: "\e924";

}
.wcf-icon-Flip-Box:before {
  content: "\e925";

}
.wcf-icon-Floating-Elements:before {
  content: "\e926";

}
.wcf-icon-Gallery-Filter:before {
  content: "\e927";

}
.wcf-icon-Grid-Hover-Posts:before {
  content: "\e928";

}
.wcf-icon-GSAP-DrawSvg:before {
  content: "\e929";

}
.wcf-icon-Horizontal:before {
  content: "\e92a";

}
.wcf-icon-Icon-Box:before {
  content: "\e92b";

}
.wcf-icon-Image-Accordion:before {
  content: "\e92c";

}
.wcf-icon-Image-Animation:before {
  content: "\e92d";

}
.wcf-icon-Image-Box-Slider:before {
  content: "\e92e";

}
.wcf-icon-Image-Box:before {
  content: "\e92f";

}
.wcf-icon-Image-Compare:before {
  content: "\e930";

}
.wcf-icon-Image-Gallery:before {
  content: "\e931";

}
.wcf-icon-Image-Hover-Effect:before {
  content: "\e932";

}
.wcf-icon-Image:before {
  content: "\e933";

}
.wcf-icon-Lottie:before {
  content: "\e934";

}
.wcf-icon-Mailchimp:before {
  content: "\e935";

}
.wcf-icon-Mega-Menu:before {
  content: "\e936";

}
.wcf-icon-Nav-Menu:before {
  content: "\e937";

}
.wcf-icon-Notification:before {
  content: "\e938";

}
.wcf-icon-One-Page-Nav:before {
  content: "\e939";

}
.wcf-icon-Pin-Elements:before {
  content: "\e93a";

}
.wcf-icon-Popup:before {
  content: "\e93b";

}
.wcf-icon-Portfolio-Filter:before {
  content: "\e93c";

}
.wcf-icon-Portfolio:before {
  content: "\e93d";

}
.wcf-icon-Post-Content:before {
  content: "\e93e";

}
.wcf-icon-Post-Content-1:before {
  content: "\e93f";

}
.wcf-icon-Post-Excerpt:before {
  content: "\e940";

}
.wcf-icon-Post-Featured-Image:before {
  content: "\e941";

}
.wcf-icon-Post-Meta-Info:before {
  content: "\e942";

}
.wcf-icon-Post-Paginate:before {
  content: "\e943";

}
.wcf-icon-Post-Rating:before {
  content: "\e944";

}
.wcf-icon-Post-Slider:before {
  content: "\e945";

}
.wcf-icon-Post-Social-Share:before {
  content: "\e946";

}
.wcf-icon-Post-Title:before {
  content: "\e947";

}
.wcf-icon-Posts-Pro:before {
  content: "\e948";

}
.wcf-icon-Posts-Tab:before {
  content: "\e949";

}
.wcf-icon-Posts:before {
  content: "\e94a";

}
.wcf-icon-Progress-Bar:before {
  content: "\e94b";

}
.wcf-icon-Scroll-Elements:before {
  content: "\e94c";

}
.wcf-icon-Search-Form:before {
  content: "\e94d";

}
.wcf-icon-Search-No-Result:before {
  content: "\e94e";

}
.wcf-icon-Search-Query:before {
  content: "\e94f";

}
.wcf-icon-Services-Tabs:before {
  content: "\e950";

}
.wcf-icon-Site-Logo:before {
  content: "\e951";

}
.wcf-icon-Social-Icons:before {
  content: "\e952";

}
.wcf-icon-Table-Of-Content:before {
  content: "\e953";

}
.wcf-icon-Tabs:before {
  content: "\e954";

}
.wcf-icon-Team-Slider:before {
  content: "\e955";

}
.wcf-icon-Team:before {
  content: "\e956";

}
.wcf-icon-Template-library:before {
  content: "\e957";

}
.wcf-icon-Testimonial-2:before {
  content: "\e958";

}
.wcf-icon-Testimonial-3:before {
  content: "\e959";

}
.wcf-icon-Testimonial-Pro:before {
  content: "\e95a";

}
.wcf-icon-Testimonial:before {
  content: "\e95b";

}
.wcf-icon-Text-Animation:before {
  content: "\e95c";

}
.wcf-icon-Text-Hover-Image:before {
  content: "\e95d";

}
.wcf-icon-Tilt-Effect:before {
  content: "\e95e";

}
.wcf-icon-Timeline:before {
  content: "\e95f";

}
.wcf-icon-Toggle-Switch:before {
  content: "\e960";

}
.wcf-icon-Typewriter:before {
  content: "\e961";

}
.wcf-icon-Video-Box-Slider:before {
  content: "\e962";

}
.wcf-icon-Video-Box:before {
  content: "\e963";

}
.wcf-icon-Video-Mask:before {
  content: "\e964";

}
.wcf-icon-Video-Popup:before {
  content: "\e965";

}
.wcf-icon-Wrapper-Link:before {
  content: "\e966";

}