.aae-clickdrop-btn{
  cursor: pointer;
}
.aae-clickdrop-modal{
  width: 150px;
  display: none;
  background-color: rgb(0, 0, 0);
  ul{
    li{
      a{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
        padding: 10px 13px;
        text-align: left;
        cursor: pointer;
        white-space: nowrap;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-transform: none;
        text-decoration: none;
        letter-spacing: 0px;
        color: white;
        svg{
          fill: #f00;
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}