.wcf--countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;

  .timer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1;
    gap: 10px;
    position: relative;
    z-index: 2;
    &:after {
      position: absolute;
      right: -20px;
      top: 16px;
      line-height: 0;
      font-size: 30px;
    }
    &:last-child:after {
      display: none;
    }
  }

  .time-count {
    font-size: 30px;
  }
}
