.elementor-panel .elementor-element .icon .wcf::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
    background-image: url('../images/wcf.png');
    background-position: center center;
    background-size: cover;
    filter: grayscale(0);
    transition: .3s;    
}

.elementor-panel .elementor-element:hover .icon .wcf::after {
    filter: grayscale(0);
    opacity: 1;
    transform: scale(1.2);
}

.wcf-logo::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-image: url('../images/wcf.png');
    background-position: center center;
    background-size: cover;
}
.elementor-panel :is(.elementor-panel-menu-item)[class*=elementor-panel-menu-item-settings-wcf-]{
    position: relative;
    &:after{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        background-image: url('../images/wcf.png');
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 50%;
        inset-inline-end: 1em;
        transform: translateY(-50%);
    }
}
.elementor-control-content{
    .wcfaddon-pro-notice{
        padding: 15px 0;
    }
    .wcfaddon-pro-notice-content {
        text-align: center;        
       h4{
        font-size: 16px;
        font-weight: 700;
        line-height: 1.4;
        margin-top: 20px;
       }
       p{
        line-height: 1.8;
        font-size: 11px;
        margin-top: 5px;    
       }
       .elementor-button{
            background-color: #d30c5c;
            color: #fff;
            padding: 7px 25px;
            margin-top: 20px;
            border: none;
            -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
       }
    }
    
}

.elementor-panel-heading-title.elementor-section-title span.wcfpro_text {
    background: #FC6848;
    color: #fff;
    font-size: 11px;
    padding: 2px 6px 3px;
    line-height: 1.3;
    border-radius: 3px;
    box-shadow: none;
    position: absolute;
    top: 14px;
    right: 15px;
}
.elementor-panel-heading-title.elementor-section-title span.wcfpro_text.aae-icon-lock,
.elementor-panel-heading-title.elementor-section-title span.wcfpro_text.aae-icon-unlock,
.elementor-panel-heading-title.elementor-section-title span.wcfpro_text.eicon-lock 
{
  background: unset;  
  padding: 0;
  font-size: 30px;
  line-height: 1;
  color: #FC6848;
  top: 9px;
}
.elementor-control-horizontal_scroll_breakpoint,
.elementor-control-text_animation_breakpoint,
.elementor-control-spin_text_scrub,
.elementor-control-wcf_pin_breakpoint,
.elementor-control-fade_animation_breakpoint{
    display: none !important;
}

// editor button 
.nmc_btn-wrap button {
  border: 0;
  padding: 9px 15px;
  background: #f6502c;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}
.nmc-btn-run{
  border: 0;
  padding: 9px 15px;
  background: #f6502c;
  color: #fff;
  display: inline-block;
  cursor: pointer; 
}

.aae-motion-nested-card:has(.nmc-back-wrap){
    pointer-events: none;
}

@font-face {
  font-family: 'aae-icomoon';
  src:
    url('../fonts/aae-icomoon.ttf?ualb3j') format('truetype'),
    url('../fonts/aae-icomoon.woff?ualb3j') format('woff'),
    url('../fonts/aae-icomoon.svg?ualb3j#aae-icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="aae-icon-"], [class*=" aae-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'aae-icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aae-icon-unlock:before {
  content: "\e5895";
}
.aae-icon-lock:before {
  content: "\e4901";
}




